.last-package-update-day
.org-id-locations
auto-save-list/
bookmarks
diary
tramp
ellama-sessions/
elpa/
eshell/
history
org-roam.db
places
projects
recentf
transient/
tree-sitter/
tutorial/
xenops/
*.DS_Store
